@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	@apply text-figma-text bg-figma-bg border-figma-border text-xs;
}

button {
	@apply border border-figma-border px-4 py-2 rounded-md;
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-button {
	width: 0px;
	height: 0px;
}

::-webkit-scrollbar-thumb {
	background: #686868;
	border: 1px solid #c7c7c7;
	border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
	background: #7b7b7b;
}

::-webkit-scrollbar-thumb:active {
	background: #a1a1a1;
}

::-webkit-scrollbar-track:hover {
	background: #424242;
}

::-webkit-scrollbar-track:active {
	background: #424242;
}

::-webkit-scrollbar-corner {
	background: transparent;
}